<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>关于我们</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="/static/css/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700|Roboto:300,400,700&display=swap"
    rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body class="about-page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="#">
            关于我们
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-2">
              <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/KG/index/">首页<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/KG/about/">关于团队</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/KG/home/">智能问答</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/KG/classes/">知识图谱可视化</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="http://sz36i9.natappfree.cc/KG/contact/">数据源</a>
              </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">

              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

  </div>

  <!-- about section -->

  <section class="about_section">
    <div class="container">
      <h2>
        关于我们
      </h2>
      <div class="row">
        <div class="col-md-6">
          <div class="about-detail">
            <h3>
              东北抗联知识图谱项目
            </h3>
            <p>
              东北抗日联军精神，是二十世纪三四十年代中国共产党领导的东北抗日联军为抗击强大的日本法西斯，在长达十四年艰苦卓绝、气壮山河的英勇斗争中，所铸就的光耀千秋、彪炳史册的民族精神，是中华民族精神的重要组成部分，是中国革命精神的继承和发扬，是我们党、军队和民族的宝贵精神财富。它同井冈山精神、长征精神、延安精神、西柏坡精神等革命精神一样，是激励全国各族人民奋勇前进的强大精神力量源泉，这种精神应该被传承、牢记。<br>
                然而，现阶段存在以下这些问题：<br>
                1.	目前相关信息资源零散，缺乏合理、系统的组织结构 <br>
                2.抗联精神宣扬方式单一、没有形成象征标志 <br>
                3.群众对于抗联精神的关注度和了解较少，曝光度不足 <br>
                本项目就意在解决这些问题，以知识图谱的形式，将抗联的人物，关系，事件表达出来，供人们查阅，以使人更好的了解这段历史，将这种精神推出去，打造东北特色的红色革命精神。<br>

            </p>
            <div>
              <a href="">
                <div>
                  <span>
                    Read More
                  </span>
                  <span>
                    <img src="/static/images/right.png" alt="" style="width: 18px;">
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-imge-box">
            <img src="/static/images/about4.PNG" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->






  <!-- info section -->
  <section class="info_section">
    <div class="container ">
      <div class="row custom_border-btm mb-3 pb-4">
        <div class="col-md-4 info_logo">
          <h2>
            东北抗联知识图谱
          </h2>
          <p>
            我们致力于打造东北特色的红色革命精神
          </p>
        </div>
        <div class="col-md-4 info_address">
          <h5>
            地址
          </h5>
          <p>
            黑龙江省哈尔滨市南岗区145号哈尔滨工程大学
          </p>
          <p>
            (+86) 18846133091
          </p>
          <p>
            m18999624868_1@163.com
          </p>
        </div>
        <div class="col-md-4 info_news">
          <h5>
          </h5>
          <form action="">
            <div>
              <input type="email" placeholder="Enter your email">
            </div>
            <div>
              <button type="submit">
                Subscribe
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="info_nav ">
        <nav class="custom_border-btm">
          <ul>
            <li>
              <a href="http://127.0.0.1:8000/KG/index/">首页</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/KG/about/">关于团队</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/KG/home/">智能问答</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/KG/classes">知识图谱可视化</a>
            </li>

            <li>
              <a href="http://127.0.0.1:8000/KG/contact/">数据源</a>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <div class="info_social">
          <div>
            <img src="/static/images/fb.png" alt="">
          </div>
          <div>
            <img src="/static/images/twitter.png" alt="">
          </div>
          <div>
            <img src="/static/images/linkedin.png" alt="">
          </div>
          <div>
            <img src="/static/images/insta.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- endsss info section -->



  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>哈尔滨工程大学普通型立项项目作品</p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>





</body>

</html>