<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Stepper</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="/static/css/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700|Roboto:300,400,700&display=swap"
    rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="#">
            Stepper
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-2">
              <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/KG/index/">首页<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/KG/about/">关于团队</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/KG/home/">智能问答</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/KG/classes/">知识图谱可视化</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/KG/contact/">数据源</a>
              </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">

              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->


    <!-- contact section -->

    <section class="contact_section py-5">

      <div class="container">
        <div class="d-flex justify-content-center d-md-block">
          <h2>
            产品架构图
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6">
{#            <form action="">#}
{#              <div class="contact_form-container">#}
{#                <div>#}
{#                  <div>#}
{#                    <input type="text" placeholder="Name">#}
{#                  </div>#}
{#                  <div>#}
{#                    <input type="email" placeholder="Email">#}
{#                  </div>#}
{#                  <div>#}
{#                    <input type="text" placeholder="Phone Number">#}
{#                  </div>#}
{#                  <div class="mt-5">#}
{#                    <input type="text" placeholder="Message">#}
{#                  </div>#}
{#                  <div class="mt-5">#}
{#                    <button type="submit">#}
{#                      send#}
{#                    </button>#}
{#                  </div>#}
{#                </div>#}
{##}
{#              </div>#}
{##}
{#            </form>#}
          </div>
          <div class="col-md-6">
            <div class="contact_img-box">
              <img src="/static/images/东北抗联知识图谱架构图.PNG" alt="" style="width: 150%; height: 150%; position: relative; margin-left: -400px">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact section -->


    <!-- info section -->
    <section class="info_section">
    <div class="container ">
      <div class="row custom_border-btm mb-3 pb-4">
        <div class="col-md-4 info_logo">
          <h2>
            东北抗联知识图谱
          </h2>
          <p>
            我们致力于打造东北特色的红色革命精神
          </p>
        </div>
        <div class="col-md-4 info_address">
          <h5>
            地址
          </h5>
          <p>
            黑龙江省哈尔滨市南岗区145号哈尔滨工程大学
          </p>
          <p>
            (+86) 18846133091
          </p>
          <p>
            m18999624868_1@163.com
          </p>
        </div>
          <div class="col-md-4 info_news">
            <h5>
            </h5>
            <form action="">
              <div>
                <input type="email" placeholder="Enter your email">
              </div>
              <div>
                <button type="submit">
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="info_nav ">
        <nav class="custom_border-btm">
          <ul>
            <li>
              <a href="http://127.0.0.1:8000/KG/index/">首页</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/KG/about/">关于团队</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/KG/home/">智能问答</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/KG/classes">知识图谱可视化</a>
            </li>

            <li>
              <a href="http://127.0.0.1:8000/KG/contact/">数据源</a>
            </li>
          </ul>
          </nav>
        </div>
        <div>
          <div class="info_social">
            <div>
              <img src="/static/images/fb.png" alt="">
            </div>
            <div>
              <img src="/static/images/twitter.png" alt="">
            </div>
            <div>
              <img src="/static/images/linkedin.png" alt="">
            </div>
            <div>
              <img src="/static/images/insta.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- endsss info section -->



    <!-- footer section -->
    <section class="container-fluid footer_section">
    <p>哈尔滨工程大学普通型立项项目作品</p>
  </section>
    <!-- footer section -->

    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>





</body>

</html>