<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KG</title>
</head>
<style>
    input::-webkit-input-placeholder {
        color: white;
        font-size: 100%;

    }
    input{
    outline-style: none ;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 620px;
    font-size: 20px;
}
</style>
<body style="background: url('/static/1.PNG') no-repeat; background-size: 100%">
<div id="box1" style="width: 700px; height: 200px; position: absolute; left: 150px; top:300px ">
    <input id="input1" type="text" placeholder="                     请输入搜索内容" style="width: 300px ;position: absolute; background-color: transparent;" >
    <button type="button" onclick="login()" style="position: absolute; left: 675px; top: 300px; background: transparent">查询</button>

</div>

</body>
</html>